.git
node_modules
.next
.env
npm-debug.log
.dockerignore
.gitignore
README.md
docker-compose.yml
Dockerfile
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.vscode
*.md
*.log
.cache
.DS_Store
*.pem
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
